.page-wrap {
  max-width: 40em;
  margin: auto;
  font-family: georgia, serif;
}
body {
  color: #000000;
  background-color: #ffffff;
}
.comment {
  /* font-lock-comment-face */
  color: #4F4371;
}
.constant {
  /* font-lock-constant-face */
  color: #008b8b;
}
.keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
.string {
  /* font-lock-string-face */
  color: #8b2252;
}

a {
}
a:hover {
  text-decoration: underline;
}
pre { border: 1px solid #ddd; background: #eee; padding:
      1em }
code { border: 1px solid #ddd; background: #eee; padding: 0.1em }
blockquote { border: 1px solid #ddd; background: #eee; padding: 0 1em;}
