/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Layout/theme */

body {
  background: #e6e6e6;
  color: #444;
  text-shadow: 1px 1px 1px #ffffff;
  font-size: 20px;
  font-family: merriweather,georgia, serif;
}
h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
}
h1 + p {
  text-shadow: 1px 1px 1px #ffffff;
}
h2 {
  font-size: 1.2em;
  font-style: italic;
  color: #546369;
}
h3 {
  font-size: 1em;
  font-style: italic;
  color: #666
}
a {
  color: #1a6e8e;
}
a:hover {
  text-decoration: underline;
}
p,li {
  text-shadow: none;
  line-height: 1.5em;
}
pre {
  border: 1px solid #ddd;
  background: #eee;
  padding: 1em;
  font-size: 0.8em;
  line-height: 1.5em;
}
code {
  border: 1px solid #ddd;
  background: #eee;
  padding: 0.1em;
}
pre code {
  border: 0;
}
blockquote {
  border: 1px solid #ddd;
  background: #eee;
  padding: 0 1em;
  margin: 0;
  border-radius: 0.2em;
}
footer {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
  margin-bottom: 2em;
}
.page-wrap {
  max-width: 40em;
  margin: auto;
}
.author {
  font-style: italic;
}
.author a {
  text-decoration: none;
}
#social li,#archive li,#posts ul li {
  line-height: 2em;
}
#archive,#social,#posts ul,#contact ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#archive a,#social a,#posts ul a,#contact ul a {
  text-decoration: none
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Syntax highlighting */

td.sourceCode { padding-left: 5px; }
pre.sourceCode span.kw { color: #397460; }
pre.sourceCode span.ot { color: #2e659c; }
pre.sourceCode span.dt { color: #4F4371; }

hr { height:0;background:inherit;border:0;border-top: 1px solid #ccc; }
.footnotes {

margin-top:1em;
margin-bottom:1em;
}
