<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/ace.css" />
    <!-- <link rel="alternate" type="application/rss+xml" -->
    <!--       href="http://chrisdone.com/rss.xml" title="Chris Done's RSS Feed"> -->
  </head>
  <body>
    <div class="page-wrap">
      $body$
    </div>
    <!-- <script type="text/javascript"> -->
    <!--   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); -->
    <!--   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); -->
    <!-- </script> -->
    <!-- <script type="text/javascript"> -->
    <!--   try { -->
    <!--   var pageTracker = _gat._getTracker("UA-7443395-1"); -->
    <!--   pageTracker._trackPageview(); -->
    <!--   } catch(err) {} -->
    <!-- </script> -->
  </body>
</html>
