<div class="home">
  <h1>Chris Done</h1>
  <p>Trying to become more human</p>
</div>
<div id="posts">
  <h2>Recent posts</h2>
  <ul>
    $posts$
  </ul>
  <a href="/archive">View archive</a>
</div>

<div id="web-accounts">
  <h2>Social</h2>
  <p>Social web sites of which I am a member:</p>
  <ul id="social">
    <li>
      <a href="http://github.com/chrisdone">Github</a>
    </li>
    <li>
      <a href="/music">Music</a>
    </li>
    <li>
      <a href="http://twitter.com/christopherdone">Twitter</a>
    </li>
    <li>
      <a href="http://www.youtube.com/user/ChristopherDone">YouTube</a>
    </li>
  </ul>
</div>

<div id="contact">
  <h2>Contact</h2>
  <ul>
    <li>Email: chrisdone@gmail.com</li>
    <li>IRC: chrisdone on freenode</li>
  </ul>
</div>

<h2>Tags</h2>
<div>
  $tagcloud$
</div>
